div.title{
    width: 1000px;
    height:40px;
    background-color: red;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

div.a{
    width: 1000px;
    height:30px;
    background-color: aqua;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

div.link{
    width:1000px;
    height:30px;
    background-color: aqua;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

div.p{
    background-color: orange;
}

div.l{
    background-color: orange;
}

body{
    background-color: black;
}